<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <header th:insert="blocks/header :: headerBlock"></header>
  <main>
<!--    <form action="/addProduct" th:action="@{/addProduct}" th:object="%{product}" method="post">-->
    <form action="/" method="post">
<!--      th:field="*{cost}"-->
      <input type="text" name="name" placeholder="new good">
      <input type="text" name="cost" placeholder="it's cost">
      <button type="submit">Добавить</button>
    </form>
    <a href="/">Васк</a>
  </main>

  <footer th:insert="blocks/footer :: footerBlock"></footer>

</body>
</html>