<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header th:insert="blocks/header :: headerBlock"></header>
    <main>

        <div th:each="el : ${products}">
            <div th:insert="blocks/product :: productBlock"></div>
        </div>

        <h3>Добавить товар</h3>
        <form action="/" method="post">
            <input type="text" name="name" placeholder="new good">
            <input type="text" name="cost" placeholder="it's cost">
            <button type="submit">Добавить</button>
        </form>

        <h3>Удалить товар</h3>
        <form action="/del" method="post">
            <input type="text" name="id" placeholder="good's id">
            <button type="submit">Удалить</button>
        </form>

        <h3>Изменить товар</h3>
        <form action="/update" method="post">
            <input type="text" name="id" placeholder="good's id">
            <input type="text" name="name" placeholder="new name">
            <input type="text" name="cost" placeholder="new cost">
            <button type="submit">Изменить</button>
        </form>

        <h3>Кто же это купил</h3>
        <form action="/sold" method="get">
            <input type="text" name="id" placeholder="good's id">
            <button type="submit">Показать</button>
        </form>

        <h3>Что купил этот юзер</h3>
        <form action="/bought" method="get">
            <input type="text" name="id" placeholder="user's id">
            <button type="submit">Показать</button>
        </form>
    </main>

    <footer th:insert="blocks/footer :: footerBlock"></footer>

</body>
</html>